.themeSwitch {
    width: 4.8rem;
    height: 2.4rem;
    background-color: var(--c-white);
    border-radius: 1.2rem;
    position: relative;
    cursor: pointer;
}

.themeSwitch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--c-violet);
    border-radius: 50%;
    /* Vertically centering an element */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    /* ------------------------------- */
    left: .5rem;
    transition: .4s;
}

.themeSwitch input:checked+.slider {
    -webkit-transform: translateX(2.4rem);
    -ms-transform: translateX(2.4rem);
    transform: translateX(2.4rem);
}