/* VARIABLES */
:root {
  --c-violet: #5964E0;
  --c-violet-light: #939BF4;
  --c-blue-veryDark: #19202D;
  --c-midnight: #121721;
  --c-white: #FFFFFF;
  --c-gray-light: #F4F6F8;
  --c-gray: #9DAEC2;
  --c-gray-dark: #6E8098;
}


/* RESET */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}